.column
{
    float: left;
    width: 14%;
}

body {
    font-family: sans-serif;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

#header {
  background: #ADCDF4;
  padding: 10px;
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  margin-bottom: 5px;
  border-radius: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background: #D5E4F5;

}

th {
  background: #73A5D8;
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 10px;
  text-transform: capitalize;
}

td {
  text-align: center;
  padding: 10px;
  text-transform: capitalize;
}

th.wd {
  color: black;
  background: #D5E4F5;
  text-align: left;
  text-transform: capitalize;
}

.column {
    margin: 10px;
}

.h1 {
    text-align: center;
    color: white;
    background: #ADCDF4;
    border-radius: 5px;
    font-weight: normal;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    background: #73A5D8;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.p {
    margin-top: 10px;
    margin-bottom: 10px;   
}

.input {
    border-radius: 5px;
    padding: 5px;
}

.button {
background-color: #4790DE;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px 10px;
    text-transform: capitalize;
    width: 100%;
    font-size: large;
    color: white;
}
